:root {
    --yellow: #ffe284;
}
/* ----------------------------------------------------ICOMOON---------------------------------------------------------- */
@font-face {
    font-family: "icomoon";
    src: url("fonts/icomoon.eot?r7e0ib");
    src: url("fonts/icomoon.eot?r7e0ib#iefix") format("embedded-opentype"),
        url("fonts/icomoon.ttf?r7e0ib") format("truetype"), url("fonts/icomoon.woff?r7e0ib") format("woff"),
        url("fonts/icomoon.svg?r7e0ib#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e903";
    color: #fff;
    font-family: "icomoon";
}
.icon-instagram:before {
    content: "\e900";
    font-family: "icomoon";
}
.icon-mail:before {
    content: "\e901";
    font-family: "icomoon";
}
.icon-whatsapp:before {
    content: "\e902";
    font-family: "icomoon";
}

/* --------------------------------------------------- RESET CSS */

/* Указываем box sizing */

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Убираем внутренние отступы */

ul,
ol {
    padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul,
ol {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* Упрощаем работу с изображениями */

img {
    max-width: 100%;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
    font: inherit;
}

/* --------------------------------------------------- COMMON STYLES */

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    order: 1;
}
main {
    order: 2;
    flex-grow: 1;
}
footer {
    order: 3;
}
body * {
    font-family: "Rubik", sans-serif;
    color: #fff;
    line-height: 1.4;
}
.wrapper {
    max-width: 1152px;
}
.container {
    max-width: 890px;
    padding: 0 1rem;
}
.wrapper,
.container {
    margin: 0 auto;
}

h1 {
    font-size: 3.4rem;
    line-height: 40px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
h1 span {
    color: var(--yellow);
}
h2 {
    font-size: 3rem;
    text-transform: uppercase;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
    line-height: 21px;
}

p {
    font-size: 1.8rem;
}

.btn {
    display: inline-block;
    padding: 1.5rem;
    min-width: 13rem;
    background-color: var(--yellow);
    box-shadow: 0px 3px 6px #ab9960;
    border-radius: 5px;
    font-size: 1.6rem;
    color: #4a4a4a;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffff66;
}
.video-link {
    display: flex;
    align-items: center;
}
.video-link::before {
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background-image: url("../img/play.svg");
    background-size: cover;
    margin-right: 5px;
}
/* ---------------------------------------------------------HEADER------------------------------------------------------------- */
.header {
    background-color: #4a4a4a;
}
.header__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid #bebebe;
}
.logo__wrapper {
    flex: 1 0 auto;
}
.header__contacts {
    margin-right: 1.8rem;
}
.header__contacts a {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.1rem;
    font-family: "Rubik", sans-serif;
    margin-bottom: 0.5rem;
    justify-content: flex-end;
}
.header__contacts p {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
}
.header .btn {
    padding: 0.8rem 1.5rem;
    box-shadow: 0px 1px 6px #ffe284;
    border-radius: 30px;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
    text-decoration: underline;
}
.header__video-link {
    display: none;
    line-height: 12px;
    font-weight: 300;
}
/* ---------------------------------------------------------MAIN SECTION------------------------------------------------------------- */
.main-section {
    background-color: #4a4a4a;
}
.main-section__wrapper {
    position: relative;
    overflow: hidden;
}
.main-section__inner {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 0;
    padding-bottom: 18rem;
}
.main-section .content {
    flex: 0 0 55%;
    padding: 4.5rem 0;
}
.main-section__town {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--yellow);
    border-radius: 5px;
    color: #414045;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 2.5rem;
}
.main-section h4 {
    font-weight: 400;
    margin-bottom: 6.5rem;
}
.main-section__buttons {
    display: flex;
    flex-flow: row wrap;
}
.main-section__buttons > * {
    margin-bottom: 2rem;
}
.main-section .btn {
    margin-right: 2.5em;
}
.main-section__calc {
    display: inline-block;
    padding: 1.7rem 1rem;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    border: 1px solid #ffe284;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px #ab9960;
    border-radius: 5px;
    transition: 0.3s;
}
.main-section__calc:hover {
    background-color: var(--yellow);
    color: #000;
}
.main-img {
    position: absolute;
    bottom: -0.3rem;
    right: 19.5rem;
    z-index: 0;
}
.main-img img {
    object-fit: cover;
}
.main-img::after {
    content: url(../img/circle-main.png);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
    pointer-events: none;
}
.main-img figcaption {
    position: absolute;
    bottom: 12.5rem;
    right: 0rem;
    padding: 0.5rem;
    color: #2c2c2c;
    font-size: 16px;
    line-height: 19px;
    z-index: 1;
}
.main-img figcaption::before {
    content: "";
    position: absolute;
    display: block;
    width: 15.2rem;
    height: 2.7rem;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) skew(-20deg, 0deg);
    z-index: -1;
    background-color: var(--yellow);
    box-shadow: 0px 0px 10px #ffe284;
    border-radius: 5px;
}
.main__video-link {
    position: absolute;
    right: 3.5rem;
    top: 19.7rem;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    z-index: 1;
}
.main__video-link::before {
    width: 5rem;
    height: 5rem;
}
/* ---------------------------------------------------------ADVANTAGES----------------------------------------------------------------- */
.advantages {
    margin-top: -9rem;
    overflow: hidden;
}
.advantages__inner {
    display: flex;
    justify-content: center;
}
.advantages__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -2.25rem;
}
.advantages-block__wrapper {
    flex: 0 0 25%;
    padding: 0 2.25rem;
}
.advantages__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 15.7rem;
    height: 16.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 2rem;
}
.advantages .advantages-block__info {
    position: absolute;
    top: 1.4rem;
    right: 1.2rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffe284;
    border: 2px solid #fbda72;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #ffe284;
    border-radius: 50%;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #2c2c2c;
}
.advantages__block img {
    margin-bottom: 1.3rem;
    flex: 0 0 60%;
    object-fit: contain;
}
.advantages__block figcaption {
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #2c2c2c;
}
.advantages__block span {
    font-weight: 500;
    color: inherit;
}
/* ---------------------------------------------------------WORK WITH US------------------------------------------------------------- */
.work-with-us {
    padding: 5rem 0;
}
.work-with-us__inner {
    padding: 0 5rem;
}
.work-with-us h2 {
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 4rem;
}
.work-with-us__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.work-with-us__item {
    position: relative;
    color: #2c2c2c;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    padding: 0 1.5rem;
    padding-top: 4rem;
    flex: 0 0 33.333%;
}
.arrow::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--yellow);
}
.work-with-us__item::after {
    content: "";
    position: absolute;
    display: block;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--yellow);
}
/* ---------------------------------------------------------SUBSCRIBE------------------------------------------------------------- */
.subscribe {
    background: rgba(72, 75, 79, 0.9);
    padding: 5rem 0;
}
.subscribe__inner {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.subscribe img {
    object-fit: cover;
    margin-right: 5rem;
}
.subscribe__content {
    text-align: right;
    padding: 0 1rem;
}
.subscribe h2 {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 4rem;
}
.subscribe .btn {
    padding: 1.5rem 5.5rem;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}
/* ---------------------------------------------------------DECISION------------------------------------------------------------- */
.decision {
    padding: 5.5rem 0 1rem 0;
    background: url(../img/bg-decision.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.decision__photo {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
    height: 83%;
    object-fit: cover;
}
.decision h2 {
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
    color: #2c2c2c;
    text-align: center;
    margin-bottom: 4rem;
}
.decision__caption {
    position: relative;
    width: 18.4rem;
    padding: 0.9rem 0;
    text-align: center;
    color: #2c2c2c;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    z-index: 1;
}
.decision__caption::before {
    content: "";
    position: absolute;
    display: block;
    width: 18.4rem;
    height: 3.9rem;
    top: 0;
    left: 0;
    transform: skew(-20deg, 0deg);
    z-index: -1;
    background-color: var(--yellow);
    box-shadow: 0px 0px 10px #ffe284;
    border-radius: 5px;
}
.decision__column {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
}
.decision__column--end {
    align-items: flex-end;
}
.decision__row {
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 100%;
    justify-content: space-between;
}
.decision__row--narrow {
    padding: 0 5rem;
}
.decision__column .decision__item {
    margin-bottom: 5.5rem;
}
.decision__item {
    display: flex;
    align-items: flex-end;
    position: relative;
    max-width: 18rem;
    height: 15.5rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.15), 0px 3px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.decision__item img {
    position: absolute;
    left: 50%;
    top: -1rem;
    transform: translateX(-50%);
}
.decision__item--higher img {
    top: -2rem;
}
.decision__item p {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-weight: 300;
    color: #2c2c2c;
}
.decision__item span {
    font-weight: 500;
    color: #2c2c2c;
}
.decision__list {
    display: flex;
    flex-flow: row wrap;
    padding-top: 3.3rem;
}
/* ----------------------------------------------------------OUR WORK------------------------------------------------------------- */
.our-work {
    padding: 4rem 0 2rem 0;
    overflow: hidden;
}
.our-work h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #2c2c2c;
}
.our-work__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 4rem;
}
.our-work___wrapper {
    flex: 0 0 33.333%;
    padding: 0 3rem;
    padding-bottom: 5rem;
}
.our-work__item {
    display: flex;
    flex-flow: row nowrap;
}
.our-work__item img {
    object-fit: contain;
    margin-right: 0.5rem;
}
.our-work__content span {
    display: inline-block;
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #2c2c2c;
    margin-bottom: 0.5rem;
}
.our-work__content p {
    font-size: 18px;
    line-height: 21px;
    color: #2c2c2c;
}
.our-work .arrow::before {
    display: none;
}
/* ---------------------------------------------------------TASKS------------------------------------------------------------- */
.tasks {
    position: relative;
    padding: 4rem 0 12rem 0;
    overflow: hidden;
    z-index: 1;
    background: url(../img/bg-tasks.jpg) no-repeat;
    background-size: cover;
}
.tasks::before {
    content: url(../img/kassa.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 25rem;
    left: 10rem;
    z-index: -1;
}
.tasks::after {
    content: url(../img/pen.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 54rem;
    left: 90rem;
    z-index: 1;
    pointer-events: none;
}
.tasks h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #2c2c2c;
    margin-bottom: 5rem;
}
.tasks__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 -2rem;
}
.tasks__item-wrapper {
    flex: 0 0 50%;
    padding: 0 2rem;
}
.tasks__item {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2rem 1rem;
    margin-bottom: 2.5rem;
}
.tasks__item p,
.tasks__item span {
    color: #2c2c2c;
}
.tasks__item img {
    object-fit: cover;
    margin-right: 1.5rem;
}
.profile__block {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
}
.profile__info span {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.profile__info p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.tasks__content {
    padding: 0 0.5rem 1rem 1.5rem;
}
.tasks__content .tasks-content__block {
    min-height: 14.5rem;
}
.tasks__content > .tasks-content__block:last-child {
    min-height: auto;
}
.tasks .tasks__heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 1rem;
}
.tasks-content__block p {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
}
.tasks-content__block--deadline .tasks__heading {
    margin-bottom: 0.5rem;
}
/* ---------------------------------------------------------MEDIA QUERIES------------------------------------------------------------- */
@media screen and (max-width: 810px) {
    .our-work___wrapper {
        flex: 0 0 50%;
    }
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.2rem;
        line-height: 26px;
        margin-bottom: 1rem;
    }
    h1 span {
        white-space: nowrap;
    }
    /*MAIN SECTION*/
    .main-section__inner {
        padding: 0;
    }
    .main-section__town {
        font-size: 1.2rem;
        padding: 0.5rem;
        line-height: 14px;
        margin-bottom: 1.8rem;
    }
    .main-section h4 {
        font-size: 12px;
        line-height: 14px;
    }
    .main__video-link,
    .main-img::after,
    .main-img figcaption {
        display: none;
    }
    .main-img {
        right: 0;
    }
    /*ADVANTAGES*/
    .advantages {
        margin-top: -4rem;
    }
    /*SUBSCRIBE*/
    .subscribe img {
        margin-right: 0;
    }
    .subscribe__content {
        text-align: center;
    }
}
@media screen and (max-width: 650px) {
    /* TASKS */
    .tasks::after,
    .tasks::before {
        display: none;
    }
    .tasks__item-wrapper {
        flex: 0 0 51%;
    }
}
@media screen and (max-width: 576px) {
    /* HEADER */
    .header .logo {
        display: none;
    }
    .header__video-link {
        display: flex;
    }
    .header .btn {
        display: none;
    }
    .header__contacts a {
        font-size: 14px;
        line-height: 17px;
    }
    /* MAIN SECTION */
    .main-section__wrapper {
        padding-bottom: 8.5rem;
    }
    .main-section .content {
        flex: 0 0 100%;
        z-index: 1;
    }
    .main-img {
        z-index: 0;
    }
    .main-section-content__text {
        width: 65%;
    }
    .main-section h4 {
        margin-bottom: 15rem;
    }
    .main-section .btn {
        margin-right: 0;
    }
    .main-section__buttons > * {
        flex: 1 0 100%;
        text-align: center;
    }
    /*WORK WITH US*/
    .work-with-us {
        padding: 4rem 0;
    }
    .work-with-us__inner {
        padding: 0 4rem;
    }
    .work-with-us h2 {
        font-size: 2rem;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .work-with-us__list {
        align-items: center;
        flex-direction: column;
    }
    .work-with-us__item {
        width: 50%;
        padding: 2rem 0 4rem 0;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
    }
    .work-with-us__item::after {
        display: none;
    }
    .arrow::before {
        width: 8px;
        height: 21px;
        bottom: 0;
        top: auto;
        background: url(../img/icons/arrow.png) center no-repeat;
    }
    .arrow:last-child::before {
        display: none;
    }
    /*SUBSCRIBE*/
    .subscribe h2 {
        margin-bottom: 2.5rem;
        font-size: 2.4rem;
    }
    .subscribe .btn {
        font-size: 1.6rem;
    }
    /* DECISION */
    .decision {
        padding-top: 4rem;
        overflow: hidden;
    }
    .decision h2 {
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
    .decision__caption {
        left: 50%;
        transform: translateX(-50%);
    }
    .decision__caption {
        width: 14.1rem;
        font-size: 1.4rem;
    }
    .decision__caption::before {
        top: 4px;
        width: 14.1rem;
        height: 3rem;
    }
    .decision__row {
        flex-direction: column;
    }
    .decision__row .decision__item {
        margin-bottom: 2rem;
    }
    .decision__column {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .decision__item {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 17.5rem;
        flex: 0 0 57%;
    }
    .decision__item img {
        position: static;
        transform: none;
    }
    .decision__item p {
        font-size: 1.2rem;
    }
    .decision__row--narrow {
        padding: 0;
    }
    .decision__photo {
        height: 43%;
        left: 30%;
        bottom: 0;
        transform: none;
    }
    /*OUR WORK*/
    .our-work {
        padding: 4rem 0 2rem 0;
    }
    .our-work__list {
        flex-direction: column;
        align-items: center;
        padding-top: 2.5rem;
    }
    .our-work__item img {
        max-width: 8rem;
        width: 100%;
    }
    .our-work___wrapper {
        position: relative;
        width: 46%;
    }
    .our-work .arrow::before {
        display: block;
        bottom: 2rem;
    }
    .our-work .arrow:last-child:before {
        display: none;
    }
    .our-work h2 {
        font-size: 2rem;
    }
    .our-work__content p {
        font-size: 1.6rem;
    }
    /* TASKS */
    .tasks {
        padding-bottom: 0;
    }
    .tasks h2 {
        font-size: 20px;
        line-height: 24px;
    }
    .tasks__item-wrapper {
        flex: 0 0 100%;
    }
    .tasks__item {
        padding: 2rem 2.5rem;
    }
    .profile__info span {
        font-size: 1.6rem;
    }
    .profile__info p {
        font-size: 1.2rem;
    }
    .tasks__item img {
        width: 7rem;
        height: 7rem;
    }
    .tasks__content {
        padding: 0;
    }
    .tasks__content .tasks-content__block {
        min-height: auto;
        margin-bottom: 1rem;
    }
    .tasks .tasks__heading {
        font-size: 1.4rem;
    }
}
